@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

nav, #mobile-menu {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

nav a, #mobile-menu a {
    text-decoration: none !important;
}

nav a {
    transition: transform 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

nav ul li a {
    font-size: 1.1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 768px) {
    nav ul li a {
        opacity: 0.6;
    }
    nav ul li a:hover {
        opacity: 1;
        transform: scale(1.1);
        color: white;
    }
}

@media (max-width: 767px) {
    nav ul li a {
        opacity: 1;
    }
}

#mobile-menu-overlay {
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

#mobile-menu-overlay.hidden {
    opacity: 0;
}

#mobile-menu-overlay:not(.hidden) {
    opacity: 1;
}
